# --- Python / Backend ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# --- Node.js / Frontend ---
node_modules/
dist/
dist-ssr/
*.local

# --- Databases ---
*.sqlite3
*.db

# --- OS / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db
